h1, h2 {
    text-align: center;
}

#contenido {
    margin-top: 40px;
}
.borrar-tweet,
.borrar-tweet:hover {
    float: right;
    cursor: pointer;
    color: red;
    font-weight: bold;
}

.pie-pagina{
    background-color: brown;
}

.text-white{
   color: white;
}

.align{
    display: inline-block;
}

img.izquierda {
    float: left;
  }